.clickItem {
    background: #fff;
    border-radius: 2px;
    height: 150px;
    margin: 20px;
    position: relative;
    width: 250px;
    text-align: left;
  }
  
  .clickItem > .img-container {
    height: 250px;
    width: 250px;
  }
  .clickItem > .img-container > img {
    width: 100%;
    height: 100%;
  }
  
  